.button-card {
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  border: none;
  margin: 1rem;
  padding: 2rem;
  background-color: #fff;
  color: #283159;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 22%;
  min-height: 200px;
}
.button-card--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.categories-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.button-card:hover path {
  fill: #fff;
}
.button-card:hover circle {
  fill: #fff;
}
.button-card:hover {
  background-color: #ff9aa3;
  color: #fff;
}

.button-card:focus,
.button-card:active {
  background-color: #ff9aa3;
  color: #fff;
}

.button-card:focus + path,
.button-card:active + path {
  /* background-color: #ff9aa3; */
  color: red;
  /* color: #fff; */
}
.button-card--text-content {
  height: 20px;
}
.button-card--title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0.5rem;
}
/* .button-icon:hover {
  fill: #fff;
} */
/* .button-image {
  width: 1rem;
} */
