.image-content {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.image-content--desktop {
  background: none;
  /* background: #fff; */
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.observation-content {
  color: #283159;
  font-size: 1.5rem;
}
.observation-title {
  margin-bottom: 1.5rem;
}

.target--title {
  color: #283159;
  font-size: 1.8rem;
  font-weight: 600;
}

.target--scnd-title {
  color: #283159;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.target--title:nth-child(2) {
  margin-bottom: 0.5rem;
}
.text-area-observations {
  font-size: 1.5rem;
  border: 1px solid #fecc68;
  border-radius: 0.5rem;
  resize: none;
  color: #283159;
  width: 100%;
  padding: 1rem;
  height: 8rem;
}

.products-detail-container {
  width: 100%;
  overflow-x: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.button-options {
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  border: none;
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
  color: #283159;
  width: -webkit-fill-available;
  height: max-content;
}

.white-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 30px 30px 0 0;
  width: 100%;
  padding: 3rem 4rem;
  justify-content: space-around;
}

.info-product-container {
  display: flex;
  border: none;
  width: 100%;
  height: 100%;
}

.info-product-subcontainer {
  width: 45%;
  padding: 1rem;
  color: #283159;
  margin-left: 3rem;
}

.product--name {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.product--description {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.product--cost {
  font-size: 1.8rem;
  font-weight: 600;
}

.button--pink {
  background-color: #ff9aa3;
  border: none;
  color: #fff;
  width: 100%;
  border-radius: 10px;
  font-size: 1rem;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s;
}
.button--pink:hover {
  background-color: #ffa4ac;
  transition: all 0.3s;
}

.button--white {
  width: 100%;
  background-color: #fff;
  color: #ff9aa3;
  border: 1px solid #ff9aa3;
  margin-top: 1rem;
  width: 100%;
  border-radius: 10px;
  font-size: 1rem;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s;
}

.button--white:hover {
  background-color: #fff;
  color: #fecc68;
  border: 1px solid #fecc68;
  transition: all 0.3s;
}

.buttons-container {
  display: flex;
  flex-direction: row;
}
.large-button--content {
  width: 100%;
}
.counter-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  border: 1px solid #ff9aa3;
  border-radius: 2.5rem;
  color: #283159;
  font-size: 1.5rem;
  padding: 1rem;
  margin-right: 1rem;
  height: 50px;
}

.product-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.counter-button {
  border: none;
  background-color: #fff;
  font-size: 2rem;
  color: #ff9aa3;
}
.total-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  border: 1px solid #ffefc0;
  background-color: #ffefc0;
  border-radius: 0.5rem;
  resize: none;
  color: #283159;
  padding: 1rem;
  height: 50px;
  margin: 1rem 0;
}
.total-price__price {
  color: #ff9aa3;
}

.detail--header {
  width: 100%;
  display: none;
  flex-direction: column;
  position: relative;
}

.detail--cost {
  color: #ff9aa3;
  position: absolute;
  font-size: 3rem;
  right: 0;
  top: 0;
}

.detail--description {
  color: #283159;
  font-size: 2rem;
}

.detail--name {
  font-size: 3rem;
  color: #283159;
}

.photo-detailed {
  width: 100%;
  position: absolute;
  top: 35px;
  left: 52px;
}

.info-product--right-container {
  align-items: flex-end;
  width: 100%;
}

.info-product--left-container {
  background-color: #ccc;
  width: 50%;
  display: none;
}

.info-product--main-container {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
}

.detail-desktop {
  background-color: aqua;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 900px) {
  .info-product--left-container {
    display: block;
    margin: 1rem;
    border-radius: 0.5rem;
  }

  .info-product-container {
    display: none;
  }

  .image-content {
    display: none;
  }

  .info-product--main-container {
    padding: 1rem;
    position: relative;
    width: 80%;
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.2));
    border-radius: 10px;
    background-color: #fff;
    display: flex;
  }

  .product-detail-container {
    padding: 0;
  }

  .info-product--right-container {
    align-items: flex-end;
    width: 50%;
  }
  .white-container {
    border-radius: 0;
  }
}
