.image-content {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.image-content--desktop {
  background: none;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.observation-content {
  color: #283159;
  font-size: 1.5rem;
}
.observation-title {
  margin-bottom: 1.5rem;
}

.card__title {
  color: #283159;
  font-size: 1.8rem;
  font-weight: 600;
}

.card__title--scnd {
  color: #283159;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.text-area-observations {
  font-size: 1.5rem;
  border: 1px solid #fecc68;
  border-radius: 0.5rem;
  resize: none;
  color: #283159;
  width: 100%;
  padding: 1rem;
  height: 8rem;
}

.products-detail-container {
  width: 100%;
  overflow-x: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  padding: 0;
}

.button-options {
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  border: none;
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
  color: #283159;
  width: -webkit-fill-available;
  height: max-content;
}

.card__white-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 30px 30px 0 0;
  width: 100%;
  padding: 3rem 3rem;
  justify-content: space-around;
}

.info-product-container {
  display: flex;
  border: none;
  width: 100%;
  height: 100%;
}

.info-product-subcontainer {
  width: 45%;
  padding: 1rem;
  color: #283159;
  margin-left: 3rem;
}

.product--name {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.product__description {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.product__description--desktop {
  font-size: 1rem;
  color: #283159;
  margin-top: 1rem;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 3rem;
}

.product--cost {
  font-size: 1.8rem;
  font-weight: 600;
}

.button--pink {
  background-color: #ff9aa3;
  border: none;
  color: #fff;
  width: 100%;
  border-radius: 10px;
  font-size: 1rem;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s;
}
.button--pink:hover {
  background-color: #ffa4ac;
  transition: all 0.3s;
}

.button--white {
  width: 100%;
  background-color: #fff;
  color: #ff9aa3;
  border: 1px solid #ff9aa3;
  margin: 1rem 0;
  width: 100%;
  border-radius: 10px;
  font-size: 1rem;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s;
}

.button--white:hover {
  background-color: #fff;
  color: #fecc68;
  border: 1px solid #fecc68;
  transition: all 0.3s;
}

.buttons-container {
  display: flex;
  flex-direction: row;
}
.large-button--content {
  width: 100%;
}
.counter-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  border: 1px solid #ff9aa3;
  border-radius: 2.5rem;
  color: #283159;
  font-size: 1rem;
  padding: 1rem;
  margin-right: 1rem;
  height: 50px;
}

.product-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.counter-button {
  border: none;
  background-color: #fff;
  font-size: 2rem;
  color: #ff9aa3;
}
.total-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  border: 1px solid #ffefc0;
  background-color: #ffefc0;
  border-radius: 0.5rem;
  resize: none;
  color: #283159;
  padding: 1rem;
  height: 50px;
  margin: 1rem 0;
}
.total-price__price {
  color: #ff9aa3;
}

.detail--header {
  width: 100%;
  display: none;
  flex-direction: column;
  position: relative;
}

.detail--cost {
  color: #ff9aa3;
  position: absolute;
  font-size: 3rem;
  right: 0;
  top: 0;
}

.detail--description {
  color: #283159;
  font-size: 2rem;
}

.detail--name {
  font-size: 3rem;
  color: #283159;
}

.photo-detailed {
  width: 100%;
  position: absolute;
  top: 35px;
  left: 52px;
}

.info-product--right-container {
  align-items: flex-end;
  width: 100%;
}

.info-product__left-container {
  background-color: #f7f7f7;
  width: 50%;
  display: none;
}

.info-product--main-container {
  width: 100%;
  display: flex;
}

.detail-desktop {
  display: flex;
  position: absolute;
  bottom: -25px;
  height: 85%;
  width: 100%;
}

.card__header {
  display: none;
}

.card__cost--container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: end;
}

.card__cost--text {
  color: #ff9aa3;
  font-size: 1rem;
  margin-bottom: 0.2rem;
  margin-right: 0.3rem;
}
.card__cost--number {
  color: #ff9aa3;
  font-size: 1.8rem;
}

.info-product__photo {
  width: 100%;
  height: 100%;
}
.card__paragrap {
  color: #283159;
  font-size: 1.8rem;
  font-weight: 600;
}
@media (min-width: 900px) {
  .info-product__left-container {
    display: block;
    border-radius: 0.5rem;
    margin-right: 1rem;
    overflow: hidden;
  }

  .info-product-container {
    display: none;
  }

  .image-content {
    display: none;
  }

  .info-product--main-container {
    padding: 1rem;
    position: relative;
    width: 90%;
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.2));
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    min-width: 850px;
    height: 100%;
    max-width: 950px;
    margin-top: 2rem;
  }

  .product-detail-container {
    padding: 0;
  }

  .info-product--right-container {
    align-items: flex-end;
    width: 50%;
  }
  .card__white-container {
    border-radius: 0;
    padding: 0;
  }

  .detail-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 70px);
    position: relative;
    bottom: 0;
    padding: 1rem 0;
  }

  .text-area-observations {
    font-size: 1rem;
    border: 1px solid #fecc68;
    border-radius: 0.5rem;
    resize: none;
    color: #283159;
    width: 100%;
    padding: 1rem;
    height: 5rem;
    cursor: auto;
  }

  .card__title {
    color: #283159;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .card__title--scnd {
    color: #283159;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .products-detail-container {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 15px;
    padding: 1rem 0.5rem;
  }

  .card__header {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
