html {
  box-sizing: border-box;

  font-size: 16px;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: 100%;
}

.err-msg {
  background-color: #ff4b61;
  width: 100%;
  position: absolute;
  height: 3.5rem;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  transition: all ease 0.2s;
  overflow: hidden;
  transform: translateY(0px);
}
.err-msg.hide {
  transform: translateY(-5em);
}

.err-msg__content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.err-msg-header {
  /* background-color: aqua; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.err-msg-x {
  transform: rotate(45deg);
}

.err-msg-x path {
  /* transform: rotate(45deg); */
  fill: #fff;
}
/* FF4B61 */
.err-msg--text {
  color: #fff;
  font-size: 1em;
}

.err-msg__close-icon {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
}

/* @keyframes shake {
  25% {
    transform: translate(-3px, 0);
    
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}  */
