html {
  box-sizing: border-box;

  font-size: 16px;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: 100%;
}

.login {
  background-image: url("./login-bg-movil.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.login--logo {
  width: 80%;
  margin-bottom: 60px;
  /* transform: rotate(333deg); */
}

.login--form {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.login--title {
  color: #fff;
}

.login--input {
  margin-bottom: 0.5rem;
  border-radius: 2rem;
  border: none;
  height: 4rem;
  font-size: 1em;
  padding: 1.5rem;
  width: 60%;
}

.login--input::placeholder {
  color: #283159;
}

.login--submit {
  margin-bottom: 0.5rem;
  border-radius: 2rem;
  border: none;
  height: 4rem;
  font-size: 1em;
  padding: 1.5rem;
  width: 60%;
  background-color: #ffa4ac;
  color: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login--submit:hover {
  background-color: #fecc68;
}

@media (min-width: 1200px) {
  .login {
    background-image: url("./login-bg-desktop.png");
    align-items: end;
    padding-right: 10%;
  }
  .login--logo {
    width: 30%;
  }
  .login--form {
    width: 50%;
    justify-content: end;
    align-items: end;
  }
}
