.navBar {
  background-color: rgb(235, 115, 135);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 56px;
}

.navBar--logo {
  margin-top: 10000px;
  margin-left: 1000px;
}

.navBar--list {
  display: flex;
  width: 80%;
  justify-content: space-between;
  list-style: none;
}

.navBar--link {
  text-decoration: none;
  color: #fff;
}
