/* ! ---------------------NAVBAR-------------------- */
.navbar {
  width: 100%;
  height: 70px;
  position: relative;
  padding: 1rem;
}

/* .navbar--absolute {
  position: absolute;
  z-index: 1;
} */

.navbar--container {
  width: 100%;
  /* max-width: 1300px; */
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar--block {
  display: flex;
  align-items: center;
  margin-left: "1rem";
}

/* ! ---------------------BURGER ICON-------------------- */
.navbar--burger-container {
  align-items: center;
  cursor: pointer;
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  height: 100%;
}

.navbar--burger-container path {
  fill: #283159;
  margin-right: 0.5rem;
}

/* ! ---------------------LOGO-------------------- */
.logo-container {
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: "1rem";
}

.logo-container path {
  fill: #283159;
  width: 10;
}

/* ! ---------------------MENU OF LINKS-------------------- */
.menu {
  height: 100%;
  display: none;
  justify-content: space-between;
  list-style: none;
  margin-left: 30px;
  /* justify-items: center; */
  align-items: baseline;
}

.menu--list {
  height: 100%;
  margin: 0.5rem 2.5rem;
}

.menu--link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  /* margin: 0.5rem 2.5rem; */
  color: #283159;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  transition: 0.5s all ease;
  text-decoration: none;
  font-weight: 700;
  position: relative;
}

.menu--link:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #ff9aa3;
  transition: 0.3s;
}

.menu--link:hover:after {
  /* color: #ccc; */
  /* background-color: 283159; */
  /* transition: 0.5 all ease; */
  width: 100%;
}

.menu--link--active {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;

  /* color: red; */
  color: #ff9aa3 !important;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  transition: 0.5s all ease;
  text-decoration: none;
  font-weight: 700;
  position: relative;
  /* background-color: blue; */
}
/* .menu--link:hover {
  color: #ccc;
  background-color: 283159;
  transition: 0.5 all ease;
} */
/* ! ---------------------CART-------------------- */
.cart--container {
  position: relative;
  cursor: pointer;
}

.cart--counter {
  position: absolute;
  left: -5px;
  bottom: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background: #ff9aa3;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  padding-right: 1px;
  padding-top: 2px;
}

/* ! ---------------------USER PHOTO-------------------- */
.user--container {
  background-color: #ff9aa3;
  display: flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: "15px";
  padding-right: 4px;
  cursor: pointer;
}
.user--container:hover {
  background-color: #ffa4ac;
  transition: 0.3s;
}

.user--container path {
  fill: #fff;
}

.user-name--content {
  font-size: 1.2rem;
  color: #283159;
  font-weight: 700;
  margin-left: 1rem;
}
/* ! ---------------------MEDIA QUERIES-------------------- */

/* mobile */
/* @media only screen and (min-width: 768px) { */
/* @media (max-width: 768px) {
  .navbar--burger-container {
    align-items: center;
    cursor: pointer;
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .menu {
    display: none;
  }
} */

/* ! Desktop */
@media (min-width: 900px) {
  .navbar--burger-container {
    display: none;
  }

  .menu {
    display: flex;
  }
}
