.order-card {
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  border: none;
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
}

.order-card--header {
  display: flex;
  justify-content: space-between;
}

.order-card--infos-container {
  color: #283159;
  display: grid;
  grid-row-gap: 2rem;
  row-gap: 0.8rem;
  min-width: fit-content;
}

.order-card--titles-container {
  display: grid;
  grid-row-gap: 2rem;
  row-gap: 0.8rem;
  min-width: fit-content;
  margin-right: 0.5rem;
}
.order-card--info-container {
  display: flex;
}
.order-card--info {
  display: flex;
}

.order-card--info-title {
  color: #283159;
  font-size: 1rem;
  font-weight: 700;
  /* width: 5rem; */
}

.order-card--info-p {
  color: #283159;
  font-size: 1rem;
}

.order-card--right-container {
  display: flex;
  align-items: flex-start;
}

/* .order-cart--containertime {
  display: flex;
  align-items: center;
}

/* ! no hace caso */
.order-cart--clock path {
  fill: #ff9aa3;
  width: 1rem;
  height: 1rem;
}

/* ! no hace caso */
.order-cart--clock svg {
  width: 1rem;
  height: 1rem;
}

.order-cart--minutes {
  color: #ff9aa3;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 0.2rem;
} */

.order-card--table-container {
  margin-top: 1rem;
}

.order-card--buttonsContainer {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

.order-card--button--cooking {
  background-color: #ff9aa3;
  border: none;
  color: #fff;
  width: 100%;
  padding: 1.5rem;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  /* margin-right: 1rem; */
  cursor: pointer;
}

.order-card--button--ready {
  /* background-color: #ff9aa3; */
  background-color: #c4c4c4;
  border: none;
  color: #fff;
  width: 100%;
  padding: 1.5rem;
  border-radius: 10px;
  font-size: 1rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  cursor: pointer;
}

.order-card--button--ready.active {
  background-color: green;
}
