.order-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  padding: 1rem;
}
.order-card {
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  border: none;
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
}

.order-card__header {
  display: flex;
  justify-content: space-between;
}

.order-card__infos-container {
  color: #283159;
  display: grid;
  grid-row-gap: 2rem;
  row-gap: 0.8rem;
  min-width: fit-content;
}

.order-card__titles-container {
  display: grid;
  grid-row-gap: 2rem;
  row-gap: 0.8rem;
  min-width: fit-content;
  margin-right: 0.5rem;
}
.order-card__info-container {
  display: flex;
}
.order-card__info {
  display: flex;
}

.order-card__info-title {
  color: #283159;
  font-size: 1rem;
  font-weight: 700;
  /* width: 5rem; */
}

.order-card__info-p {
  color: #283159;
  font-size: 1rem;
}

.order-card__right-container {
  display: flex;
  align-items: flex-start;
}

.order-card__table-container {
  margin-top: 1rem;
}

.order-card__buttonsContainer {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

.order-card__button {
  /* .order-card__button__cooking { */
  /* background-color: red; */
  background-color: #ff9aa3;
  border: none;
  color: #fff;
  width: 100%;
  padding: 1.5rem;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  cursor: pointer;
}

.order-card__button:hover {
  background-color: #ffa4ac;
  transition: 0.3s;
}
