.order-cart--containertime {
  display: flex;
  align-items: center;
  color: #ff9aa3;
  fill: #ff9aa3;
}

.order-cart--clock path {
  width: 1rem;
  height: 1rem;
}

.order-cart--minutes {
  color: #ff9aa3;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 0.2rem;
  transition: color 0.3s ease-in-out;
}

.order-cart--minutes.exceeds {
  color: #ff4b61;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 0.2rem;
  transition: color 0.3s ease-in-out;
}

.order-cart--minutes.inactive {
  color: #ffcc66;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 0.2rem;
  transition: color 0.3s ease-in-out;
}

@keyframes shake {
  25% {
    transform: translate(-3px, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.order-cart--clock.shake {
  animation-name: shake;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  color: #ff4b61;
}

.order-cart--clock.light-on {
  color: #ffcc66;
}
