.title-container {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 600;
  color: #283159;
  align-items: center;
  margin: 1rem 0;
}
.title-container h1 {
  margin-right: 1rem;
}
