.trash-button {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #ff9aa3;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.trash-button:hover {
  background-color: #ffa4ac;
}

.trash-button__icon {
  width: 30px;
}
